<header class="w-full overflow-x-auto">
  <div class="grid grid-nogutter justify-content-center h-full">
    <div class="xl:col-6 lg:col-9 col-11 align-items-center">
      <div class="flex align-items-center gap-2 h-full">
        <div class="flex align-items-center gap-2 h-full">
          <img src="assets/pizza_header.png" alt="logo" />
          <div class="mt-1 hidden md:block">
            <p class="text-logo">Pizza</p>
            <p class="text-logo">cheff</p>
          </div>
        </div>

        <div class="flex-grow-1 flex justify-content-center align-items-center xl:gap-6 lg:gap-4 gap-3">
          <a href="#" class="menu-item mt-1">Пиццы</a>
          <a href="#" class="menu-item mt-1">Напитки</a>
          <a href="#" class="menu-item mt-1">Доставка и оплата</a>
          <a href="#" class="menu-item mt-1">Контакты</a>
        </div>
      </div>
    </div>
  </div>
</header>
