header {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.02), 0 1px 4px 4px rgba(0, 0, 0, 0.03);
}

.text-logo {
  font-size: 24px;
  font-family: "MullerBlack", sans-serif;
  color: rgb(255, 196, 104);
  text-transform: uppercase;
  line-height: 1.2;
}

.menu-item {
  font-size: 16px;
  font-family: "MullerRegular", sans-serif;
  color: rgb(164, 107, 0);
  line-height: 1.2;
  -moz-transform: matrix( 1.00031719427891,0,0,1,0,0);
  -webkit-transform: matrix( 1.00031719427891,0,0,1,0,0);
  -ms-transform: matrix( 1.00031719427891,0,0,1,0,0);
}
