<div class="grid">
  <div class="p-col-6 col-12">
    <p class="header-content-text">Самая вкусная пицца в мире</p>
    <p class="header-content-text-1">только в Pizza Cheff</p>

    <div class="grid mt-4">
      <div class="p-col-6 col-12">
        <div class="flex align-items-start gap-3 my-2">
          <img src="assets/hop_header_info.png" alt="hop" />

          <div>
            <p class="header-info-text">Лучшее тесто</p>
            <p class="text-info">Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
          </div>
        </div>
      </div>

      <div class="p-col-6 col-12">
        <div class="flex align-items-start gap-3 my-2 p-ml-4">
          <img src="assets/kitchen-pack_header_info.png" alt="kitchen-pack" />

          <div class="pr-2">
            <p class="header-info-text">Лучшие повара</p>
            <p class="text-info">Пиццы готовят самые профессиональные итальянские повара</p>
          </div>
        </div>
      </div>

      <div class="p-col-6 col-12">
        <div class="flex align-items-start gap-3 my-2">
          <img src="assets/seo-and-web_header_info.png" alt="seo-and-web" />

          <div>
            <p class="header-info-text">Гарантия качества</p>
            <p class="text-info">Наша пиццерия получила множество наград и признаний по всему миру</p>
          </div>
        </div>
      </div>

      <div class="p-col-6 col-12">
        <div class="flex align-items-start gap-3 my-2 p-ml-4">
          <img src="assets/holidays_header_info.png" alt="holidays" />

          <div class="pr-2">
            <p class="header-info-text">Отборные рецепты</p>
            <p class="text-info">Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
          </div>
        </div>
      </div>

      <div class="col-fixed pt-6 pb-4">
        <button class="button-color px-6 py-button cursor-pointer" (click)="scrollToHeaderCatalog()">
          <span class="button-text">Выбрать пиццу</span>
        </button>
      </div>
    </div>
  </div>

  <div class="p-col-6 col-12">
    <div class="flex align-items-center justify-content-center h-full">
      <img src="assets/pizza_big_header_info.png" class="img-adaptive" alt="pizza_big" />
    </div>
  </div>
</div>
