@font-face {
  font-family: "MullerBlack";
  src: local("MullerBlack"), url(./assets/fonts/MullerBlack.ttf) format("truetype");
}

@font-face {
  font-family: "MullerRegular";
  src: local("MullerRegular"), url(./assets/fonts/MullerRegular.ttf) format("truetype");
}

@font-face {
  font-family: "MullerExtraBold";
  src: local("MullerExtraBold"), url(./assets/fonts/MullerExtraBold.ttf) format("truetype");
}
