/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.img-adaptive {
  max-width: 100%;
  display: inline-block;
}

.button-color {
  background-color: #ffaf18;
  border-width: 0;

  .button-text {
    font-size: 16px;
    font-family: "MullerBold", sans-serif;
    color: rgb(56, 36, 0);
    font-weight: bold;
  }
}
